*.bak
*html
*~
.env
.venv
env/
venv/
.idea
.ipynb_*
__*
.ipynb_checkpoints
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.DS_Store
.vscode/
/site
